{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}

<div class="example-wrapper">
    <h1>Hola {{ title }}! ✅</h1>

    
    </ul>
    <p>Síguenos en redes sociales</p>
    <a href="{{ facebook }}"><img src="{{ asset('img/facebook.png') }}"/> </a>
    <a href="{{ instagram }}"><img src="{{ asset('img/instagram.png') }}"/> </a>
    <a href="{{ twitter }}"><img src="{{ asset('img/twitter.png') }}"/> </a>
</div>
{% endblock %}
