{{ form_start(form) }}
    {{ form_widget(form) }}
{% if empleado.Imagen %}
    <img src="{{ asset('uploads/brochures/' ~ empleado.Imagen) }}"></img>
{% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
