{% extends 'base.html.twig' %}

{% block title %}Listado de Empresas{% endblock %}

{% block body %}
    <h1>Empresas</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('empresas_new') }}">
            <button type="button" class="btn btn-success">Nueva Empresa</button>
        </a>
    {% endif %}
    <br/><br/>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Fecha Registro</th>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.Nombre }}</td>
                <td>{{ empresa.Direccion }}</td>
                <td>{{ empresa.FechaRegistro ? empresa.FechaRegistro|date('Y-m-d') : '' }}</td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>
                        <a href="{{ path('empresas_show', {'id': empresa.id}) }}"><img
                                    src="{{ asset('img/ver.png') }}"/></a></td>
                    <td>
                        <a href="{{ path('empresas_edit', {'id': empresa.id}) }}"><img
                                    src="{{ asset('img/editar.png') }}"/></a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
